.bubble {
  border-radius: 1rem;
  background: #f5f5f5;
  width: 70%;
  margin: auto;
}

.bubble:hover {
  background: #f0f0f0;
  border-radius: 1rem;
  width: 72%;
}

.commit {
  background: linear-gradient(45deg, #fe6b8b 30%, #ff8e53 90%);
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 3px 5px 4px rgba(255, 105, 135, 0.3);
}

.message a {
  color: #000000;
}

.pushDate {
  color: #9f9f9f;
  font-size: 0.95rem;
}
