.bubble {
  border-radius: 1rem;
  width: 70%;
  margin: auto;
  transition: 0.1s;

  &:hover {
    width: 75%;
  }
}

.commit {
  background: linear-gradient(45deg, #ff5c5c 30%, #fcba58 90%);
  border: 0px;
  border-radius: 10px;
  box-shadow: 0 0.2rem 0.5rem 0.25rem #ff69694d;
  list-style: none;
  padding: 0.2rem 1rem;
}

.message {
  color: #000000;
  a {
    color: #000000;
  }
}

.pushDate {
  color: #3b3b3b;
  font-size: 0.95rem;
}
