.bubble {
  transition: 0.2s;

  //   border-radius: 1.2rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 0.5rem 0.25rem #ff6b6b4d;
  width: 70%;
  margin: 0.75rem auto;

  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);

  &:hover {
    width: 75%;
    // border-image-source: linear-gradient(to right, #743ad5, #d53a9d);
  }
}

.commit {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.message {
  color: #ffffff;
  text-decoration: none;
  transition: 0.5s;

  &:hover {
    text-decoration: none;
    color: #ff5c5c;
  }
}

.pushDate {
  color: #818181;
  font-size: 0.95rem;
}
