.card {
  position: relative;
  padding: 5em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: .1em;
  border-radius: 0.25em;
  border-color: #eaeaea;
  box-shadow: 0 0.25em 0.5em #808080;
  background-color: #ffffff;
  transition-property: transform, box-shadow;
  transition-duration: 250ms;
  min-height: 18em;
  user-select: none;
}

.svg_background {
  height: 100%;
  width: 100%;
  position: absolute;
}

.foreground_text {
  opacity: 1;
  position: absolute;
  color: rgba(255, 94, 0, 0.5);
  font-size: 4rem;
  text-transform: uppercase;
  transition-property: opacity;
  transition-duration: 300ms;
  /* transform: rotateZ(-45deg); */

}

.background_text {
  opacity: 0;
  position: absolute;
  color: rgba(255, 94, 0, 0.1);
  font-size: 4rem;
  text-transform: uppercase;
  transition-property: opacity;
  transition-duration: 300ms;
}

.description {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 300ms;
}

.card:hover > .foreground_text {
  opacity: 0;
}

.card:hover > :not(.foreground_text) {
  opacity: 1;
}

.card:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0 0.5em 1em rgba(255, 94, 0, 0.6);
}
