.main {
  padding-top: 15rem;
}

.main h2 {
  margin-left: 25%;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.main h1 {
  margin-left: 25%;
  margin-top: 5rem;
  font-size: 4rem;
  font-weight: 700;
}
