.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding-top: 4em;
  padding-left: 20%;
  margin-bottom: 10em;
}

.desc {
  margin-bottom: 8em;
}

.desc h2 {
  font-size: 3rem;
  margin-bottom: 0.5em;
  color: #555;
}

.title h1 {
  font-size: 4.5rem;
  font-weight: 700;
  color: rgb(var(--color-highlight))
}

@media only screen and (max-width: 768px) {
  .main {
    align-items: center;
    padding-left: 0;

  }
}

@media only screen and (max-width: 425px) {
  .main {
    align-items: center;
    padding-left: 0;
  }

  .main h2 {
    font-size: 2rem;
  }

  .main h1 {
    font-size: 3rem;
  }
}

