.title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2em;
  text-transform: uppercase;
  color: #3a3a3a;
  padding-top: 2em;
}

.title span {
  color: rgb(var(--color-highlight))
}

.grid {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: auto auto auto; */
  gap: 3em;
  margin: 0em 15em;
}

.grid > * {
  flex: 1.1 1 13em;
  min-width: 20%;
}

@media only screen and (max-width: 1024px) {
  .grid {
    margin: 0 3em;
  }
}
